body {
  /* background-image: url("images/shane-rounce-landing-med.jpg");
  background-size: cover; */
  background: url("images/shane-rounce-landing-med.jpg") no-repeat center fixed;
  background-size: cover;
}

label {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Buttons */
.book-btn, .search-btn {
  /*the 'Book' and 'Search' buttons*/
  background-color: black;
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left: auto;
  padding: 5px 25px;
}
.book-btn:hover {
  color: #C0B018;
}
.search-btn {
  background-color: #C0B018;
}
.search-btn:hover {
  color: black;
}

/*Navbar*/
.navigation {
  background-color: black;
  background-color: rgba(0, 0, 0, .2);
}
.navigation-container {
  /*the nav surrounding the nav bar*/
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo {
  /*the Cycle Hostel logo in Navbar*/
  display: inline-block;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 10px;
  /*to align with Book Now button*/
}

/*the Hero Background Image*/
.bg {
  /* background-image: url("images/shane-rounce-landing-med.jpg");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: cover; */
}

/*Hero Content*/
.hero-container, .footer {
  /*container for all content excluding navbar*/
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: left;
  width: 100%;
}
.hero-container {
  padding-top: 100px;
}

.pageTitle {
  /*Cycle Hostel h1 title*/
  color: white;
  display: inline-block;
  font-family: American Captain;
  font-size: 5rem;
  letter-spacing: 2px;
  /* box-shadow: */
}

.pageTitle:hover {
  color: #C0B018;
  cursor: pointer;
}

.tagline-text1, .tagline-text2 {
  /*text below title heading*/
  color: white;
  font-family: Oswald;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.tagline-text2 {
  padding-top: 20px;
  font-size: 2.5rem;
}

/*Forms*/
/* Container for dropBtn, dropdown-content, and labels */
.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

/* Container for dropdown a links */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C0B018;
  min-width: 160px;
  z-index: 1;
}

/* Styles for the links inside dropdown */
.dropdown-content a {
  color: black;
  display: block;
  font-family: Oswald, sans-serif;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  border-radius: 25px;
  display: block;
  text-align: center;
}

/* Changing the styles of the dropdown links on hover */
.dropdown-item:hover {
  text-decoration: underline;
}

/* Styling for all Buttons in form */
.form-control, .dropBtn {
  border-radius: 25px;
  color: grey;
  text-align: left;
  width: 200px;
}

/* Arrival and Departure Button Styling */
.form-group {
  display: inline-block;
  padding: 20px 20px 40px 0;
  /*no left padding to keep left aligned with above text*/
}

/* Divider between forms and footer */
.divider {
  background-color: white;
  height: 10px;
  width: 100%;
  visibility: hidden;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;;
}
.fab {
  color: lightgrey;
  font-size: 1.5rem;
  padding-right: 10px;
}

.fab:hover {
  cursor: pointer;
  color: #C0B018;
}

.phone1 {
  /* large phone number text*/
  color: white;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  padding-top: 20px;
}

.phone2 {
  /*small phone number text*/
  color: lightgrey;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px 0 0 10px;
}

.social-icons {
  /*container for the three fab icons*/
  color: lightgrey;
  display: block;
  font-size: 2rem;
  padding-right: 40px;
  padding-top: 20px;
  right: 0;
}

/* Animations */


/* Media Queries */
@media screen and (max-width: 990px) and (min-width: 760px) {

}
