:root {
  --white: #fff;
  --black: #000;
}
body {
  margin: 0;
}
button {
  border: none;
}
input {
  border: none;
  font-family: Oswald, sans-serif;
  margin-top: 5px;
  padding: 5px;
  margin-right: 10px;
}

h4 {
  font-family: Oswald;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

label {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Buttons */
.book-btn,
.search-btn,
.tour-btn {
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: auto;
  padding: 5px 25px 7px;
}
.search-btn {
  background-color: #A7C09B;
  color: white;
  margin-top: 20px;
}
.search-btn:hover {
  background-color: #C7C9D1;
  color: #334147;
  cursor: pointer;
}
.tour-btn {
  background-color: #334147;
  color: white;
  cursor: pointer;
  margin: 5px 0;
}
.tour-btn:hover {
  background-color: #A7C09B;
  color: white;
}

.book-btn {
  background-color: #A7C09B;
  color: white;
  cursor: pointer;
  margin: 5px 0;
}
.book-btn {
  background-color: #334147;
}
.book-btn:hover {
  background-color: #A7C09B;
  color: white;
}
.drop-btn {
  font-family: Oswald, sans-serif;
  margin-top: 5px;
  padding: 5px;
}

/*Navbar*/
.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.logo-div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.navLogo {
  height: 4em;
}
.logo {
  /*the Cycle Hostel logo in Navbar*/
  color: white;
  font-size: 1.5rem;
}

.logo-2 {
  color: white;
  font-family: Oswald;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-right: 5px;
}

.navbar-links {
  display: flex;
  justify-content: center;
}
.navbar-links li{
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  list-style-type: none;
  opacity: .8;
  padding-right: 50px;
}
.nav-link-effect {
  cursor: pointer;
  text-decoration: underline;
}

/* Mobile Navbar */
.nav {
  background-color: var(--white);
  padding: 10px 20px;
  position: relative;
}
.nav-logo {
  height: 4em;
  padding: 20px 0;
}
.nav-logo-div {
  text-align: center;
}
.nav-links {
  display: none;
  padding-bottom: 20px;
  text-align: center;
}
.nav-links a {
  color: var(--white);
  display: block;
  font-size: 1rem;
  padding: 10px 0;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: underline;
}
.nav-links a:active {
  background-color: var(--white);
}
/* Div for Hamburger Menu Links */
.links-div {
  /* this is to keep it center aligned with logo */
  position: absolute;
  text-align: right;
  top: 40px;
  right: 20px;
}


/*Hero Content*/
/*the Hero Background Image*/
.Hero {
  background: url("images/shane-rounce-landing-med1.jpg") no-repeat center fixed;
  background-size: cover;
  border-bottom: 10px solid white;
  width: 100%;
}

.hero-text-container {
  text-align: center;
}

.hero-title {
  color: #A7C09B;
  display: inline-block;
  font-family: American Captain;
  font-size: 7rem;
  letter-spacing: 2px;
  margin: 60px 0 10px;
}

.hero-title:hover {
  color: white;
  cursor: pointer;
}

.tagline-text1 {
  color: white;
  margin: 0;
  padding-bottom: 20px;
}


/* Social */
.social {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 20px;
  ;
}

.fab {
  color: lightgrey;
  font-size: 1.5rem;
  padding-right: 10px;
}

.fab:hover {
  cursor: pointer;
  color: white;
}

.phone1 {
  /* large phone number text*/
  color: white;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  padding-top: 20px;
}

.phone2 {
  /*small phone number text*/
  color: lightgrey;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px 0 0 10px;
}

.social-icons {
  /*container for the three fab icons*/
  color: lightgrey;
  display: block;
  font-size: 2rem;
  padding-top: 20px;
}
.social-icons i:hover {
  color: #A7C09B;
  font-size: 2.5rem;
}

.social-icons i {
  color: white;
}

/*Amenities Section */
.amenities-section {
  padding: 2rem 1.5rem;
}
.amenities-heading,
.amenities-text,
.amenities-subheadings,
.bookings-heading {
  color: #334147;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}
.amenities-heading {
  font-weight: bold;
}
.amenities-subheadings {
  font-weight: 600;
}
.amenities-item {
  text-align: center;
}
.amenities-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.amenities-icons {
  color:  #334147;
  font-size: 2.5rem;
}
.amenities-text {
font-size: 1rem;
opacity: .8;
}


/*Bookings*/
.bookings {
  background-color: #334147;
  border-bottom: 10px solid white;
}
.bookings-heading {
  color: #A7C09B;
  font-size: 1.5rem;
  text-align: left;
}
.booking-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 50px;
}
.upper-booking-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


/* Contact-Footer */
.contact-footer {
  align-items: center;
  background-color: #A7C09B;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.contact-item p {
  color: #334147;
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.contact-item i {
  color: white;
}
.contact-item i:hover {
  color: #334147;
}
.contact-item span {
  color: #334147;
  font-size: .8rem;
}


/* Container for drop-btn, dropdown-content, and labels */
.dropdown {
  position: relative;
  display: inline-block;
  letter-spacing: 5px;
  padding: 5px 20px 0 0;
}

/* Container for dropdown a links */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C7C9D1;
  min-width: 160px;
  z-index: 1;
}

/* Styles for the links inside dropdown */
.dropdown-content a {
  color: black;
  display: block;
  font-family: Oswald, sans-serif;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}

/* Changing the styles of the dropdown links on hover */
.dropdown-item:hover {
  background-color: white;
  text-decoration: underline;
}

/* Styling for all Buttons in form */
.form-control, .drop-btn {
  border-radius: 25px;
  color: grey;
  text-align: left;
  width: 200px;
}

/* Arrival and Departure Button Styling */
.form-group {
  display: inline-block;
  padding: 5px 0;
  /*no left padding to keep left aligned with above text*/
}

/* Animations */
/* Media Queries */
@media screen and (max-width: 990px) and (min-width: 760px) {}

@media screen and (max-width: 780px) {
  .amenities-container {
    flex-wrap: wrap;
  }
}
