:root {
  --white: #fff;
  --black: #000;
  --primary1: #BACE7A;
  --secondary1: #334147;
  --base1: #C7C9D1;
}

body {
  font-family: Oswald, monospace;
  margin: 0;
  min-width: fit-content;
}

button {
  border: none;
}

input,
.drop-btn {
  border: none;
  border-radius: 3.1px;
  color: #C7C9D1;
  font-family: Oswald, sans-serif;
  margin-top: 5px;
  padding: .25em .8em;
  margin-right: 10px;
  text-align: left;
  width: 12.5em;
}

h4 {
  font-family: Oswald;
  font-size: 2em;
  font-weight: bolder;
  line-height: 1.5;
  letter-spacing: 1px;
}

label {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Buttons */
.book-btn,
.search-btn,
.tour-btn {
  border-radius: 5px;
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: .35em 1.25em;
  transition: color, background-color;
  transition-duration: 600ms;
}

.search-btn {
  background-color: var(--base1);
  box-shadow: 5px 5px 10px #0E0E0E;
  color: var(--secondary1);
  margin-top: 20px;
}

.search-btn:hover {
  background-color: var(--black);
  color: var(--base1);
  cursor: pointer;
}

.tour-btn {
  background-color: #BACE7A;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #0E0E0E;
  color: #334147;
  cursor: pointer;
  margin: 5px 0;
}

.tour-btn:hover {
  background-color: #334147;
  box-shadow: 5px 5px 10px #000;
  color: #fff;
}

.book-btn {
  background-color: #BACE7A;
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--black);
  color: #334147;
  cursor: pointer;
  margin: 5px 0;
  opacity: 1;
  animation-name: entering;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  transition: display;
  transition-duration: 500ms;
}

@keyframes entering {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.book-btn:hover {
  box-shadow: none;
}

.drop-btn {
  width: 220px;
}

/*Navbar*/
.navigation {
  align-items: center;
  background-color: rgba(14, 14, 14, .85);
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
}

.logo-div {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.navLogo {
  height: 4em;
}

.logo {
  /*the Cycle Hostel logo in Navbar*/
  color: var(--base1);
  font-size: 1.5rem;
}

.logo-2 {
  color: var(--base1);
  font-family: Oswald;
  font-size: 1.2rem;
  font-weight: normal;
  padding-right: 5px;
}

.nav-links-div a {
  color: var(--base1);
  font-size: 1.25em;
  font-weight: 300;
  opacity: .5;
  padding: 0 .5em;
  text-decoration: none;
  transition: color, opacity, font-size;
  transition-duration: 500ms;
}

.nav-links-div a:hover {
  color: #BACE7A;
  font-size: 1.5em;
  opacity: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

/* mobile navigation */

.mobile-navigation {
  align-items: center;
  display: none;
  justify-content: space-between;
  padding: 1em 1.5em;
  position: relative;
  transition: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}

.mobile-navigation .logo-div {
  margin-left: 10px;
  padding-top: 0;
}

#mobile-social-icons {
  display: inherit;
  padding-top: 0;
  position: static;
  transition: display;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}

#mobile-book-btn {
  margin: 0 0 0 1.25em;
}
/* div containign mobile menu links */
.mobile-nav-links {
  background-color: rgba(14, 14, 14, .95);
  top: 50px;
  left: 0;
  display: none;
  height: 90vh;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  padding: 1em 1.5em;
  position: fixed;
  text-align: center;
  z-index: 1000;
}

.mobile-nav-links a {
  color: var(--white);
  font-size: 1.5em;
  display: block;
  padding: .17em .25em;
}

.menu-icon {
  color: var(--base1);
  cursor: pointer;
  font-size: 2em;
}

.mobile-content2 {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* the mobile nav content in the first div pairing */
  .mobile-content1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*hero Content*/
/*the hero Background Image*/
.landing-section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.hero {
  background: url("images/hero1.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  transition: background .8s linear;
}

.hero-text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.hero-title {
  color: #fff;
  display: inline-block;
  font-family: American Captain;
  font-size: 6em;
  letter-spacing: 2px;
  margin: 0  0 .25em;
}

.hero-title:hover {
  color: white;
}

.tagline-text1 {
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.subheading {
  color: #BACE7A;
  font-size: 2em;
  margin: .5em 0 1em;
}

/* Social */
.social-section {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 20px;
  /* position: absolute; */
}

.fab {
  color: lightgrey;
  font-size: 1.5rem;
  padding-right: 10px;
}

.fab:hover {
  cursor: pointer;
  color: white;
}

.phone-div {
  bottom: 2em;
  position: absolute;
  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.phone1 {
  /* large phone number text*/
  color: white;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  padding-top: 20px;
}

.phone2 {
  /*small phone number text*/
  color: lightgrey;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px 0 0 10px;
}

.social-icons {
  /*container for the three fab icons*/
  bottom: 1em;
  color: lightgrey;
  display: block;
  font-size: 2rem;
  padding-top: 20px;
  position: absolute;
  right: 1em;
  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.social-icons i {
  color: white;
  transition: color, font-size;
  transition-duration: 500ms;
}

.social-icons i:hover {
  color: #BACE7A;
  font-size: 2.5rem;
}

/*Amenities Section */
.amenities-section {
  padding: 2rem 1.5rem;
}

.amenities-heading,
.amenities-text,
.amenities-subheadings,
.bookings-heading {
  color: #334147;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.amenities-heading {
  font-weight: bold;
}

.amenities-subheadings {
  font-weight: 600;
}

.amenities-item {
  text-align: center;
}

.amenities-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.amenities-icons {
  color: #334147;
  font-size: 2.5rem;
}

.amenities-text {
  font-size: 1rem;
  opacity: .8;
}

/*Bookings*/
.bookings {
  background-color: #334147;
  border-bottom: 10px solid white;
}

.bookings-heading {
  color: #BACE7A;
  font-size: 1.5rem;
  text-align: left;
}

.booking-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 50px;
}

.upper-booking-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Contact-Footer */
.contact-footer {
  align-items: center;
  background-color: #BACE7A;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.contact-item p {
  color: #334147;
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.contact-item i {
  color: white;
}

.contact-item i:hover {
  color: #334147;
}

.contact-item span {
  color: #334147;
  font-size: .8rem;
}

/* Container for drop-btn, dropdown-content, and labels */
.dropdown {
  position: relative;
  display: inline-block;
  letter-spacing: 5px;
  padding: 5px 20px 0 0;
}

/* Container for dropdown a links */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C7C9D1;
  min-width: 160px;
  z-index: 1;
}

/* Styles for the links inside dropdown */
.dropdown-content a {
  color: black;
  display: block;
  font-family: Oswald, sans-serif;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}

/* Changing the styles of the dropdown links on hover */
.dropdown-item:hover {
  background-color: white;
  text-decoration: underline;
}

/* Arrival and Departure Button Styling */
.form-group {
  display: inline-block;
  padding: 5px 0;
  /*no left padding to keep left aligned with above text*/
}

/* Animations */

/* Media Queries */

@media only screen and (max-width: 850px) {
  .amenities-container {
    flex-wrap: wrap;
  }
  .amenities-item {
    padding: 1em 2em;
  }
}

@media only screen and (max-width: 750px) {

  .hero-text-container {
    margin-top: 5em;
  }

  .hero-title {
    font-size: 6.5em;
  }
  .tagline-text {
    font-size: 3em;
  }
  .subheading {
    font-size: 2.5em;
  }

  .desktop-navigation {
    display: none;
  }
  .mobile-navigation {
    background-color: rgba(14, 14, 14, .95);
    display: flex;
    position: fixed;
    width: -webkit-fill-available;
  }

  /* hiding ower landing page content when nav menu appears */
  .phone-div,
  .social-section .social-icons {
    opacity: 0;
  }

}

@media only screen and (max-width: 650px) {
  .book-btn {
    display: none;
}
}

@media only screen and (max-width: 550px) {
  .hero-title {
    font-size: 5.5em;
  }
  .subheading {
    font-size: 1.5em;
  }
}

@media only screen and (max-height: 550px) {
  .navigation {
    padding: .5em 3em;
  }
  .hero-tex-container {
    justify-content: flex-start;
  }
  #Hero {
    padding-bottom: 10em;
  }
  .social-icons {
    bottom: 2em;
  }
  .phone-div {
    bottom: 3em;
  }
  .subheading {
    margin: .25em 0 .5em;
  }
}

@media only screen and (max-width: 450px) {
  #mobile-social-icons {
    display: none;
  }
  .mobile-navigation .logo-div {
    position: absolute;
    right: 1em;
    top: .6em;
  }
  .mobile-navigation  .logo-2 {
    font-size: 1rem;
  }
}
